<table class="table table-striped table-bordered">
  <tr>
    <th>Ordered</th>
    <th>Delivery Address</th>
    <th>Delivery Date</th>
    <th>Delivery Time</th>
           
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.created_at.strftime("%B %-d, %Y") %></td>
      <td><%= order.address %></td>
      <td><%= order.delivery_date %></td>
      <td><%= order.delivery_time %></td>
      <td><%= link_to "View Puchase", order, class: "btn btn-default" %></td>
      
    </tr>
  <% end %>
</table>