<a href="/<%= @merchant.area.downcase %>">« Back to <%= @merchant.area %> Restaurants</a>
<div class="restaurant-info">
<h1><strong><%= @merchant.restaurant_name %></strong></h1>
<p><%= @merchant.address %></p>
</div>

<div class="row container">
  <div class="col-md-8">
    <% @listings.each do |listing| %>
          <div class="col-md-4">
            <div class="thumbnail">
              <%= image_tag(listing.image.url) %>
                <div class="caption center">
                  <h3><%= listing.name %></h3>
                  <p><%= listing.description %></p>
                  <p><%= number_to_currency(listing.price, :locale => :my) %></p>

                  <% if (merchant_signed_in?) && (current_merchant == listing.merchant) %>
                    <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
                    <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
                  <% else %>
                  
                    <%= button_to 'Add to Cart', line_items_path(listing_id: listing), remote: true, class: "btn btn-default" %>
                  <% end %>
                
                </div>
            </div>
          </div>
    <% end %>
  </div>
    <div class="col-md-4 cart">
      <div class="title">
        <center><%= @merchant.restaurant_name %></center>
      </div>
      
      <div class="date-time">
        <div class="message center">
          When do you want to eat?
          <div class="sub-message">
              Delivery is <span style="color: #000"><u>15 minutes</u> before eat time</span>
            </div>
        </div>

        <div class="control-group ">
               <div class='col-sm-6'>
                  <div class="form-group">
                      <div class='input-group date' id='datetimepicker5' data-date-format="DD/MM/YYYY">
                          <input type='text' class="form-control" />
                          <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                  </div>
              </div>

            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker4'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>

          

      <p>Please allow 45 minutes for ASAP orders<p>
            
              <script type="text/javascript">
                  $(function () {
                      $('#datetimepicker4').datetimepicker({
                          pickDate: false
                      });
                  });
              </script>

              <script type="text/javascript">
                  $(function () {
                      $('#datetimepicker5').datetimepicker({
                          pickTime: false
                      });
                  });
              </script>
            </div>
            

      </div>

    <div id="cart">
        <%= render @cart %>
      </div>
    </div>
</div>

  <br>
  <p>If you spot any incorrect item descriptions, please let us know</p>
</div>
</div>