<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :location_name %><br>
    <%= f.text_field :location_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :location_area %><br>
    <%= f.text_field :location_area, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :location_address %><br>
    <%= f.text_area :location_address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
