<div class="footer">
  <div class="container">
     <div class="pull-left muted footer-link-grey">
      © 2013 Brunche ·
      <%= link_to "About", pages_about_path %> ·
      <%= link_to "FAQ", pages_faq_path %> ·
      <%= link_to "Terms", pages_terms_path %> ·
      <%= link_to "Privacy", pages_privacy_path %> ·
      <%= link_to "Contact", pages_contact_path %> ·
      <%= link_to "Become a driver", pages_contact_path %>
    </div>

    <div class="pull-right">
      <a href="http://facebook.com" target="_blank">Facebook</a> ·
      <a href="http://twitter.com" target="_blank">Twitter</a> ·
      <a href="http://instagram.com" target="_blank">Instagram</a>
    </div>
  </div>  
</div>