<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="/">BRUNCHE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse Restaurants <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><%= link_to "Lintas", lintas_path %></li>
                      <li><%= link_to "Damai", damai_path %></li>
                    </ul>
                </li>

        <% if admin_signed_in? %>
                <li><%= link_to "View Orders", orders_path %></li>
                <li><%= link_to "Create Restaurant", new_merchant_registration_path %></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello Admin! <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><%= link_to "Edit Account", edit_admin_registration_path %></li>
                <li><%= link_to "Log Out", destroy_admin_session_path, method: :delete %></li>
                    </ul>
                </li>             

        <% elsif merchant_signed_in? %>
                <li><%= link_to "Received Orders", sales_path %></li>
                <li><%= link_to "Manage Menu", seller_path %></li>
                <li><%= link_to "Edit Account", edit_merchant_registration_path %></li>
                <li><%= link_to "Log Out", destroy_merchant_session_path, method: :delete %></li>
        <% elsif user_signed_in? %>
                <li><%= link_to "Purchases", purchases_path %></li>
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>       
        <% else %>
                <li><%= link_to "Register", new_user_registration_path %></li>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><%= link_to "Member", new_user_session_path %></li>
                            <li><%= link_to "Restaurant", new_merchant_session_path %></li>
                          </ul>
                </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>